

.navbar-brand__logo
  img
    width: 200px

.pokemon-item
  text-align: center

.thumbnail
  padding: 0 5px 20px 5px
  border: none


.navbar-brand
  display: table
  height: auto
  float: none
  margin: 15px auto 0

.hr__header
  margin-top: 0

.thumbnail
  display: block
  margin-bottom: 20px
  line-height: 1.42857143
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 4px
  -webkit-transition: border .2s ease-in-out
  -o-transition: border .2s ease-in-out
  transition: border .2s ease-in-out

  .thumbnail__h3
    text-align: center
    margin-top: 0

.home-thumbnail
  padding-top: 5px

  .home-thumbnail__img
    height: 96px
    display: block

  .home-thumbnail__img2
    display: block
