<div class="pokemon-error">
  <img src="/images/fishy.png" class="pokemon-error__img">
  <p class="pokemon-error__p">Ops... Isso é realmente desconcertante!</p>
  <a class="btn btn-primary pokemon-error__btn" href="/pokemons">Voltar para a página inicial</a>
</div>